<div class="card">
    <div class="card-header">
        <h5 class="mb-0">New Note</h5>
    </div>
    <div class="card-body">
        <form hx-put="/notes/{{ id }}" hx-swap="none">
            <div class="mb-3">
                <input type="text" class="form-control" id="note-name" name="name" placeholder="Name..." required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="note-content" name="content" rows="10" placeholder="Content..." required>{{ content | e }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Note</button>
        </form>
    </div>
</div>

